<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
        <!-- <script src="https://d3js.org/d3.v3.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> 
        
    </head>
    
    <body>
        <canvas id="chart"></canvas>
        <canvas id="nsechart"></canvas>
        <canvas id="diffchart"></canvas>

        <script type="text/javascript">
            var bseDatapoints = {{ datap | tojson | safe }};
            // console.log("Datapoints:", data);
            var bseData = bseDatapoints;
            console.log("Data:", bseData);
            
            var values = new Array();
            var customLabels = new Array();
            bseData.forEach(function(d) {
                values.push(d[1]);
                customLabels.push(d[0]);
            });

            var ctx = 'chart';
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: customLabels,
                    datasets: [
                        {
                            label: "BSEINDIA ",
                            data: values
                        }
                    ]
                }
            });


            var nseData = {{ datan | tojson | safe }};
            console.log("NSE Datapoints:", nseData);
            // var nseDatapoints = nseData['grapthData'];
            // console.log("Data:", nseDatapoints); 

            var nseValues = new Array();
            var nseCustomLabels = new Array();
            nseData.forEach(function(d) {
                nseValues.push(d[1]);
                nseCustomLabels.push(d[0]);
            });                

            var ctx = 'nsechart';
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: nseCustomLabels,
                    datasets: [
                        {
                            label: "NSEINDIA ",
                            data: nseValues
                        }
                    ]
                }
            });



            var diffData = {{ timeList | tojson | safe }};
            console.log("diff data: ", diffData);

            var diffValues = new Array();
            var diffCustomLabels = new Array();
            
            for (x in diffData) {
                diffValues.push(diffData[x][0] - diffData[x][1]);
                diffCustomLabels.push(x);
            }

            console.log("diff val", diffValues);
            console.log("diff custom", diffCustomLabels);


            var ctx = 'diffchart';
            var lineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: diffCustomLabels,
                    datasets: [
                        {
                            label: "Diff BSE - NSE ",
                            data: diffValues
                        }
                    ]
                }
            });

        </script>
    </body>
</html>

